@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "sidequest-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #0c1226;
  --color-base-200: #182038;
  --color-base-300: #2a3b5f;
  --color-base-content: #cdd5e0;

  --color-primary: #2b7cd3;
  --color-primary-content: #ffffff;

  --color-secondary: #d1d5db;
  --color-secondary-content: #374151;

  --color-accent: #4c5faf;
  --color-accent-content: #cdd5e0;

  --color-neutral: #2c3448;
  --color-neutral-content: #cdd5e0;

  --color-info: #3d7dd8;
  --color-info-content: #0c1226;

  --color-success: #4faf75;
  --color-success-content: #0c1226;

  --color-warning: #d2a94c;
  --color-warning-content: #0c1226;

  --color-error: #b75252;
  --color-error-content: #0c1226;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}


pretty-json {
  --key-color: #7aa2f7;
  --arrow-color: #6c6c6c;
  --brace-color: #4c566a;
  --bracket-color: #4c566a;
  --string-color: #9ece6a;
  --number-color: #7dcfff;
  --null-color: #a9a9a9;
  --boolean-color: #bb9af7;
  --comma-color: #5e5e5e;
  --ellipsis-color: #7e7e7e;
  --indent: 2rem;
  --font-family: monospace;
  --font-size: 0.875rem;
}


@import "./highlight-theme.css";